.taurus-page {
  background-color: #8FBC8F;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.gemini-page {
  background-color: #F0E68C;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.libra-page {
  background-color: #FFB6C1;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}
