body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-family: "Lily Script One", cursive;
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: color 0.3s;
  padding: 10px 20px;
}

.navbar-link:hover {
  color: #191970;
}

.home-container {
  text-align: center;
  padding: 20px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.zodiac-button {
  margin: 5px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.zodiac-button:hover {
  background-color: #555;
}

.zodiac-button:active {
  transform: scale(0.95);
}

.sign-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.prediction {
  margin-top: 10px;
  font-size: 18px;
  font-weight: light;
  max-width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.controls button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

.controls button:hover {
  background-color: #333;
}

.controls button.active {
  background-color: white;
  color: black;
  font-weight: bold;
  border: 2px solid black;
}

.error {
  color: red;
  font-size: 16px;
}
